body {
    overflow-x: hidden;
    background-image: url(media/download.jfif);
    background-size: cover;
}

.pic {
    text-align: right;
    margin: 0;
}

.web_info {
    text-align: center;
    margin-top: 20px;
}

.web_info p {
    font-size: 20px;
}

.web_info h2 {
    font-weight: 700;
}

.container {
    margin-top: 20px;
}

.bodycont {
    margin-top: 30px;
}

.vid {
    text-align: center;
}

.pic_cont {
    width: auto;
    text-align: center;
    margin-bottom: 30px;
}